# Copy this file removing the .example extension
# and update field values ​​to match your network

ap_scan=1

# Add as many network blocks as there are networks to connect to
network={
  ssid="Name of network to connect to"
  psk="Network password"
}
