# Copier ce fichier en un supprimant l'extension .example
# et remplacer la ligne suivante par la cle publique authorisee a se connecter avec le compte root
# Le format de ce fichier est le format classique d'un fichier authorized_keys

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMRI7NI64mRl/i8DtO1JX1ntSXrHyein1iJhDQL5SIPo rha@rha-Yoga-Pro-7-14AHP9
