# Copy this file removing the .example extension
# and replace the following line with the public key authorized to connect with the root account
# The format of this file is the classic format of a ssh authorized_keys file

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMRI7NI64mRl/i8DtO1JX1ntSXrHyein1iJhDQL5SIPo rha@rha-Yoga-Pro-7-14AHP9
